/* Page 4 - Battle Page */

.battle-round-1 {
  text-align: center;
  display: none;
}

.title-round-1 {
  padding-top: 3%;
  font-size: 50px;
}

.battle-container {
  margin: auto;
  background-color: rgba(200, 200, 200, 0.4);
  backdrop-filter: blur(10px);
  height: 500px; 
  margin-top: 3%;
}

.battle-character {
  display: inline-block;
  width: 40%;
  margin: 0 4%;
}

.battle-character h3 {
  font-size: 40px;
  color: rgb(30, 30, 30);
  font-weight: bold;
  text-decoration: underline;
}

.battle-character img {
  display: block;
  margin: 0 auto;
  padding: 5%;
  height: 400px;
  max-width: 400px;
}

.battle-character .health-bar-container {
  display: block;
  margin: 0 auto;
}

.bg-box {
  background-color: rgb(230, 227, 227);
  border: 2px solid black;
  border-radius: 20px;
  color: rgb(30, 30, 30);
}

.player-moves {
  position: absolute;
  width: 80%;
  left: 150px;
  top: 800px;
  height:max-content;
}

.attack-options {
  background-color: aqua;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  margin: 2%;
  padding: 2%;
  cursor: pointer;
}

.game-commentary {
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 150px;
  top: 730px;
  width: 80%;
  height: 50px;
  vertical-align: middle;
}

.remove-character {
  display: none;
}
