body {
  font-family: "Courier New", Courier, monospace;
}

/* Backgrounds  */

.sea-background {
  background-image: url("../img/background.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.battle-background {
  background-image: url("../img/pokemon-battle.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* Health Bar  */

.health-bar-container {
  height: 20px;
  width: 200px;
  background-color: #ccc;
  position: relative;
  border-radius: 50px;
  border: 2px solid black;
}

.health-bar {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background-color: chartreuse;
  font-size: 18px;
  font-weight: bold;
}

/* Buttons */

.btn {
  font-size: 19px;
  font-weight: bold;
  color: rgb(50, 50, 50);
  border-radius: 10px;
}

/* Text */

h1 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(30, 30, 30);
}
