body {
    font-family: 'Courier New', Courier, monospace;
}

/* Backgrounds  */

.sea-background {
    background-image: url("../img/background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.battle-background {
    background-image: url("../img/pokemon-battle.png");
    background-size: cover; 
    height: 100vh;
    width: 100%;
}

/* Page 1 - Title Page */

.title-page {
  text-align: center;
  padding-top: 20% ;
  position: relative;
  display: none;
}

/* Page 2 - Pokemon Selection */

.selection-page {
  text-align: center;
  display: none;
}

.team-members {
    /* background-color: rgba(200,200,200,0.6); */
    width: 900px;
    height: 550px;
}

.pokemon-box {
    display: inline;
}

.pokemon-box.img {
    display: block;
}

button.confirm-team-btn {
    /* position: fixed;  */
    color: white;
    margin-top: 15%;
    border: none;
    width: 200px; 
    height: 50px;
    font-size: 20px;
    pointer-events: none;
}


/* Page 2.2 - Pop-Up Modal for Pokemon Info */

.pokemon-info-modals {
    display: none;
}

table {
    border: 1px solid black;
}


/* Page 3 - My Team */

.players-team-page {
    text-align: center;
    display: none;
}

.players-team-page h1 {
    padding: 5%;
}

.stats-box {
    display: inline-block;
    text-align: center;
}

.play-button {
    border: none;
    width: 200px; 
    height: 50px;
    font-size: 20px;
    pointer-events: none;
}


/* Page 4 - Round 1 */

.battle-round-1 {
    text-align: center;
    width: 100%;
    /* display: none; */
}

.bg-box {
    background-color: rgb(230, 227, 227);
    border: 2px solid black;
    border-radius: 20px;
    color: rgb(30,30,30);
}

.player-moves {

    position: absolute;
    width: 90%;
    left: 35px; 
    top: 800px; 
}

.battle-character {
    width: 40%;
}

.attack-options {
    background-color: aqua;
    border: none; 
    font-size: 25px;
    margin: 2%;
    padding: 2%;
    cursor: pointer;
}

.game-commentary {
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 35px;
    top: 730px;
    width: 90%; 
}


/* Health Bar  */

.health-bar-container { 
    height: 20px; 
    width: 150px;
    background-color: #CCC;
    position: relative;
    border-radius: 50px;
    border: 2px solid black;
}

.health-bar {
    position: absolute;
    height: 100%;
    width: 100%; 
    border-radius: 50px;
    background-color:chartreuse;
    font-size: 18px;
    font-weight: bold;
}

/* Buttons */

.btn {
    font-size: 19px;
    font-weight: bold;
    color: rgb(50,50,50)
}

/* Text */

h1 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(30,30,30)
}