body {
    font-family: 'Courier New', Courier, monospace;
}
/* Page 1 - Title Page */

.sea-background {
    background-image: url("../img/background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.battle-background {
    background-image: url("../img/pokemon-battle.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.title-page {
  text-align: center;
  padding-top: 20% ;
  display: none;
}

/* Page 2 - Pokemon Selection */

.selection-page {
  background-image: url("../img/background.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: none;
}

.team-members {
    /* background-color: rgba(200,200,200,0.6); */
    width: 900px;
    height: 550px;
}

.pokemon-box {
    display: inline;
}

.pokemon-box.img {
    display: block;
}

button.confirm-team-btn {
    /* position: fixed;  */
    margin-top: 15%;
    border: none;
    width: 200px; 
    height: 50px;
    font-size: 20px;
    pointer-events: none;
}


/* Page 2.2 - Pop-Up Modal for Pokemon Info */

.pokemon-info-modals {
    display: none;
}

table {
    border: 1px solid black;
}


/* Page 2 - My Team */

.players-team-page {
    text-align: center;
}
.players-team-page h1 {
    padding: 5%;
}

.play-btn {
    margin-top: 80%;
    border: none;
    width: 200px; 
    height: 50px;
    font-size: 20px;
    pointer-events: none;
}
